<div id="newProduct" class="card shadow rounded border-light-subtle p-3">
  <p class="fs-6 fw-bold">NUEVO PRODUCTO</p>

  <form [formGroup]="newForm" (ngSubmit)="onSubmit()">

    <!-- CATEGORY -->
    <div class="form-floating mb-3">
      <select class="form-select" id="roleSelect" formControlName="category_id">
        <option *ngFor="let category of listCategories$ | async"
                value="{{category.id}}">{{ category.name.toUpperCase() }}
        </option>
      </select>
      <label for="roleSelect"><span class="fw-medium">SELECCIONE CATEGORIA</span></label>
    </div>

    <!-- NAME -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="nameInput" formControlName="name" required>
      <label for="nameInput"><span class="fw-medium">NOMBRE: </span>Ejm, Coca cola</label>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="descriptionInput" formControlName="description" required>
      <label for="descriptionInput"><span class="fw-medium">DESCRIPCIÓN: </span>Ejm, Botella 500 ml </label>
    </div>

    <!-- BAR CODE -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="barCodeInput"
        formControlName="barCode">
      <label for="barCodeInput"><span class="fw-medium">CÓDIGO DE BARRAS: </span></label>
    </div>

    <!-- FILE UPLOAD -->
    <div class="mb-3">
      <label for="imageInput" class="form-label fw-medium">IMAGEN DEL PRODUCTO</label>
      <input #imageInput type="file" class="form-control" id="imageInput" (change)="onFileSelected($event)">
    </div>

    <!-- PREVIEW IMAGE -->
    <div class="mb-3 text-center">
      <ng-container *ngIf="previewUrl; else noPreview">
        <p class="fw-bold mb-3">Vista previa</p>
        <div class="preview-container">
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Vista previa">
        </div>
      </ng-container>

      <ng-template #noPreview>
      </ng-template>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary w-100" [disabled]="newForm.invalid">
      REGISTRAR
    </button>

  </form>
</div>
