<div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
  <p class="fs-6 fw-bold">NUEVA CATEGORIA</p>

  <form [formGroup]="newForm" (ngSubmit)="onSubmit()">

    <!-- CATEGORY -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="nameInput"
        formControlName="name"
        required
      >
      <label for="nameInput">Por Ejemplo: Bebidas, Galletas, Kekes etc.</label>
      <div
        *ngIf="newForm.controls['name'].invalid && (newForm.controls['name'].dirty)"
        class="text-danger">
        El nombre de la categoría es obligatorio.
      </div>
    </div>

    <!-- BUTTON -->
    <button type="submit" class="btn btn-primary w-100" [disabled]="newForm.invalid">
      REGISTRAR
    </button>

  </form>
</div>
