/** IPAD MINI **/
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #cart {
    height: 420px;
  }
  #cart ul {
    height: 310px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** IPAD AIR **/
@media screen and (min-width: 1180px) and (orientation: landscape) {
  #cart {
    height: 460px;
  }
  #cart ul{
    height: 340px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 720p **/
@media screen and (min-width: 1280px) and (max-width: 1920px) and (orientation: landscape) {
  #cart {
    height: 400px;
  }
  #cart ul {
    height: 280px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 1080p **/
@media screen and (min-width: 1920px) and (orientation: landscape) {
  #cart {
    height: 520px;
  }
  #cart ul {
    height: 400px;
    overflow: auto;
    overflow-y: scroll;
  }
}
