<div class="container-fluid container-xxl mt-2 mt-xxl-3">

  <!-- HEADER -->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
    <div class="row">
      <div class="col-6">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <i class="fa-solid fa-house fa-lg ms-2 mt-3" style="cursor: pointer" [routerLink]="'/home'"></i>
            </li>
            <li class="breadcrumb-item fs-5" aria-current="page" style="cursor: pointer"
                [routerLink]="'/warehouse'">
              ALMACEN
            </li>
            <li class="breadcrumb-item fs-5" aria-current="page" style="cursor: pointer" (click)="getTemplate('LIST')">
              MOVIMIENTOS
            </li>
            <li class="breadcrumb-item active fs-5" aria-current="page">
              NUEVO
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-2">
        <!-- FILTER CATEGORY -->
        <select
          id="categorySelect"
          class="form-select m-0 me-2"
          [formControl]="categoryControl"
        >
          <option value="TODAS">CATEGORIAS</option>
          <option *ngFor="let category of listCategories$ | async" [value]="category.id">
            {{ category.name.toUpperCase() }}
          </option>
        </select>
      </div>
      <div class="col-4">
        <!-- SEARCH PRODUCT -->
        <input
          type="text"
          id="searchInput"
          class="form-control"
          placeholder="Buscar por nombre o código de barras."
          [formControl]="searchControl"
        >
      </div>
    </div>
  </div>

  <!-- NEW FORM AND LIST PRODUCTS -->
  <div class="row">
    <div class="col-4">
      <!-- NEW FORM -->
      <div class="card shadow rounded border-light-subtle p-2 p-xxl-3">
        <p class="fs-6 fw-bold">NUEVO MOVIMIENTO</p>

        <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
          <!-- MOVEMENT TYPE -->
          <div class="form-floating mb-3">
            <select
              class="form-select"
              id="typeSelect"
              formControlName="type"
              (change)="onTypeChange()"
            >
              <option value="INGRESO" selected>INGRESO</option>
              <option value="SALIDA">SALIDA</option>
            </select>
            <label for="typeSelect"><span class="fw-bold">TIPO DE MOVIMIENTO</span></label>
          </div>

          <!-- PRODUCT -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="productInput"
              [value]="selectedProductName"
              required
            >
            <label for="productInput"><span class="fw-bold">PRODUCTO: </span></label>
            <input type="hidden" formControlName="product_id"/>
          </div>

          <!-- STOCK -->
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="quantityInput"
              formControlName="quantity"
              required
            >
            <label for="quantityInput"><span class="fw-bold">CANTIDAD: </span></label>
          </div>

          <!-- PRICE -->
          <div *ngIf="showPriceInput" class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="priceInput"
              formControlName="price"
            >
            <label for="priceInput"><span class="fw-bold">PRECIO DE COSTO UNITARIO: </span></label>
          </div>

          <!-- BUTTON -->
          <div class="row">
            <div class="col-6">
              <button type="reset" class="btn btn-danger w-100" (click)="getCancel(true)">
                CANCELAR
              </button>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-primary w-100" [disabled]="newForm.invalid">
                REGISTRAR
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col-8">
      <!-- LIST -->
      <div class="card shadow rounded border-light-subtle p-2 p-xxl-3">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr class="text-nowrap text-center">
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">CATEGORIA</th>
              <th scope="col">PRODUCTO</th>
              <th scope="col">DESCRIPCIÓN</th>
            </tr>
            </thead>
            <tbody>
              @for (product of (filteredProducts$ | async)| slice:(page - 1) * pageSize: page * pageSize; track i; let i = $index) {
                <tr class="text-nowrap">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <!-- BUTTON ADD -->
                    <button type="button" class="btn btn-success btn-sm" (click)="selectProduct(product)">
                      <i class="fa-solid fa-right-left"></i>
                    </button>
                  </td>

                  <!-- PRODUCT CATEGORY -->
                  <td>{{ product.category_name.toUpperCase() }}</td>

                  <!-- PRODUCT NAME-->
                  <td>{{ product.name.toUpperCase() }}</td>

                  <!-- PRODUCT DESCRIPTION -->
                  <td>{{ product.description }}</td>
                </tr>
              }
            </tbody>
          </table>
          <ngb-pagination
            [collectionSize]="(filteredProducts$ | async)?.length || 0"
            [(page)]="page"
            [pageSize]="pageSize"
            aria-label="Default pagination"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
