<div id="listProducts" class="card shadow rounded border-light-subtle p-3 pb-0">
  <div class="table-responsive mb-2">
    <table class="table table-striped">
      <thead>
      <tr class="text-nowrap text-center">
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">CATEGORIA</th>
        <th scope="col"></th>
        <th scope="col">DESCRIPCIÓN</th>
        <th scope="col">USUARIO REGISTRO</th>
        <th scope="col">FECHA REGISTRO</th>
        <th scope="col">USUARIO ACTUALIZACIÓN</th>
        <th scope="col">FECHA ACTUALIZACIÓN</th>
      </tr>
      </thead>
      <tbody>
        @for (product of (filteredProducts$ | async)| slice:(page - 1) * pageSize: page * pageSize; track i; let i = $index) {
          <tr class="text-nowrap text-center">
            <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>

            <!-- BUTTON EDIT -->
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="getEditProduct(product)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>

            <!-- BUTTON DELETE & MODAL DELETE -->
            <td>
              <button type="button" class="btn btn-danger btn-sm"
                      (click)="openDeleteModal(deleteModal,product.id)">
                <i class="fa-regular fa-trash-can"></i>
              </button>
              <ng-template #deleteModal let-modal>
                <div class="modal-header">
                  <h4 class="modal-title">Confirmación de Eliminación</h4>
                  <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
                </div>
                <div class="modal-body">
                  <p>¿Estás seguro que deseas eliminar la categoría <strong>{{ product.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Sí, eliminar
                  </button>
                  <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
                </div>
              </ng-template>
            </td>

            <!-- PRODUCT NAME-->
            <td>{{ product.name.toUpperCase() }}</td>

            <!-- PRODUCT CATEGORY -->
            <td>{{ product.categoryName }}</td>

            <!-- PRODUCT IMAGE AND MODAL PREVIEW -->
            <td>
              <i class="fa-regular fa-image fa-lg" style="cursor: pointer"
                 (click)="openImageModal(previewModal)"></i>
              <ng-template #previewModal let-modal>
                <div class="modal-header">
                  <h5 class="modal-title">Vista previa</h5>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
                </div>
                <div class="modal-body text-center">
                  <img [src]="product.imageUrl || '../../../../../../assets/images/product.png'"
                       alt="Vista previa de la imagen"
                       style="max-width: 30%; height: auto;"/>
                </div>
              </ng-template>
            </td>

            <!-- PRODUCT DESCRIPTION -->
            <td>{{ product.description }}</td>

            <!-- PRODUCT USER REGISTER -->
            <td>
              {{ product.createdBy }}
              <!--<app-users-by-id [userId]="product.createdBy"></app-users-by-id>-->
            </td>

            <!-- PRODUCT DATE REGISTER -->
            <td>
              {{ product.createdAt.toMillis() | date:'mediumDate' }}
            </td>

            <!-- PRODUCT USER UPDATED -->
            <td>
              {{ product.updatedBy }}
              <!--<app-users-by-id [userId]="product.createdBy"></app-users-by-id> -->
            </td>
            <td>
              <!-- PRODUCT DATE UPDATED -->
              {{ product.updatedAt.toMillis() | date:'mediumDate' }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <ngb-pagination [collectionSize]="(filteredProducts$ | async)?.length || 0" [(page)]="page"
                  [pageSize]="pageSize"
                  aria-label="Default pagination"/>
</div>
