<app-products-navbar></app-products-navbar>

<div class="container-fluid container-xxl mt-2 mt-xxl-3">

  <!-- HEADER -->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
    <div class="row">
      <div class="col-4 col-xl-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <i class="fa-solid fa-house fa-lg ms-2 mt-3" style="cursor: pointer" [routerLink]="'/home'"></i>
            </li>
            <li class="breadcrumb-item active fs-5" aria-current="page">
              PRODUCTOS
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-8 col-xl-7 d-flex">
        <!-- FILTER CATEGORIES -->
        <div style="width: 30%" class="text-end">
          <select id="categorySelect" class="form-select" [formControl]="categoryControl">
            <option value="TODAS">CATEGORIAS</option>
            <option *ngFor="let category of listCategories$ | async" [value]="category.id">
              {{ category.name.toUpperCase() }}
            </option>
          </select>
        </div>

        <!-- SEARCH FIELD -->
        <div style="width: 52%;" class="text-end">
          <input
            type="text"
            id="searchInput"
            class="form-control ms-2"
            placeholder="Buscar por nombre o codigo de barras"
            [formControl]="searchControl"
          >
        </div>

        <!-- BUTTON -->
        <div style="width: 18%" class="text-end">
          <app-products-export [filteredData]="filteredProducts$.value"></app-products-export>
        </div>

      </div>
    </div>
  </div>

  <!-- LIST -->
  <div class="row">
    <div class="col-4">
      @if (editProduct) {
        <app-products-edit
          [product]="editProduct"
          (editCancel)="getCancel($event)"
        ></app-products-edit>

      } @else {
        <app-products-new></app-products-new>
      }
    </div>
    <div class="col-8">
      <app-products-list
        (product)="getEditProduct($event)"
        [filteredProducts$]="filteredProducts$"
      ></app-products-list>

    </div>
  </div>
</div>
