<app-products-navbar></app-products-navbar>

<div class="container-fluid container-xxl mt-2">

  <!-- HEADER -->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2">
    <div style="width: 100%" class="d-flex">
      <!-- TITLE 25% -->
      <div style="width: 25%">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <i class="fa-solid fa-house fa-lg ms-2 mt-3" style="cursor: pointer" [routerLink]="'/home'"></i>
            </li>
            <li class="breadcrumb-item active fs-5" aria-current="page">
              PRODUCTOS
            </li>
          </ol>
        </nav>
      </div>

      <!-- BUTTONS 75% -->
      <div style="width: 75%" class="d-flex justify-content-end">
        <!-- CATEGORY FILTER -->
        <select id="categorySelect" class="form-select m-0 me-2" style="width: 20%" [formControl]="categoryControl">
          <option value="TODAS">CATEGORIAS</option>
          <option *ngFor="let category of listCategories$ | async" [value]="category.id">
            {{ category.name.toUpperCase() }}
          </option>
        </select>

        <!-- INPUT SEARCH -->
        <div class="m-0 me-2" style="width: 50%">
          <input
            type="text"
            id="searchInput"
            class="form-control m-0"
            placeholder="Buscar por nombre, descripción o codigo de barras"
            [formControl]="searchControl"
          >
        </div>

        <!-- BTN CATEGORIES -->
        <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="'/products/categories'">
          <i class="fa-solid fa-right-left"></i>
          CATEGORIAS
        </button>
      </div>
    </div>
  </div>

  <!-- FORM NEW AND LIST -->
  <div class="row">

    <div class="col-5 col-xl-4">
      @if (editProduct) {
        <app-products-edit
          [product]="editProduct"
          (editCancel)="getCancel($event)"
        ></app-products-edit>

      } @else {
        <app-products-new></app-products-new>
      }
    </div>
    <div class="col-7 col-xl-8">
      <app-products-list
        (product)="getEditProduct($event)"
        [filteredProducts$]="filteredProducts$"
      ></app-products-list>

    </div>
  </div>
</div>
