<div class="card shadow rounded border-0 p-3">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr class="text-nowrap text-center">
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">MOVIMIENTO</th>
        <th scope="col">PRODUCTO</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">PRECIO</th>
        <th scope="col">REGISTRADO POR:</th>
        <th scope="col">F.REGISTRO:</th>
        <th scope="col">ACTUALIZADO POR:</th>
        <th scope="col">F. ACTUALIZACION</th>
      </tr>
      </thead>
      <tbody>
        @for (movement of movements | slice:(page - 1) * pageSize: page * pageSize; track i; let i = $index) {
          <tr class="text-nowrap text-center">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="getEdit(movement)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
            <!-- TYPE MOVEMENT -->
            <td class="text-white" [ngStyle]="{'background-color': movement.type === 'INGRESO' ? 'green':'red'}">
              {{ movement.type }}
            </td>
            <!-- PRODUCT INFO -->
            <td>

              <app-product-info [productId]="movement.product_id"></app-product-info>
            </td>
            <!-- QUANTITY -->
            <td>
              {{ movement.quantity }}
            </td>
            <!-- PRICE -->
            <td>
              {{ movement.price | currency: 'S/. ' }}
            </td>
            <!-- USER REGISTER -->
            <td>
              <app-users-by-id [userId]="movement.createdBy"></app-users-by-id>
            </td>
            <!-- DATE REGISTER -->
            <td>
              {{ movement.createdAt.toMillis() | date:'mediumDate' }}
            </td>
            <!-- USER UPDATED -->
            <td>
              <app-users-by-id [userId]="movement.createdBy"></app-users-by-id>
            </td>
            <!-- DATE UPDATED -->
            <td>
              {{ movement.updatedAt.toMillis() | date:'mediumDate' }}
            </td>
          </tr>
        }
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="movements.length || 0" [(page)]="page" [pageSize]="pageSize"
                    aria-label="Default pagination"/>
  </div>
</div>
