<app-purchasing-navbar/>

<div class="container-fluid container-xxl mt-2 mt-xxl-3">

  <!---------------------------------------------------->
  <!--------------------- HEADER ----------------------->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
    <div class="row">
      <div class="col-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <i class="fa-solid fa-house fa-lg ms-2 mt-3" style="cursor: pointer" [routerLink]="'/home'"></i>
            </li>
            <li class="breadcrumb-item fs-5" aria-current="page" style="cursor: pointer"
                [routerLink]="'/purchasing'">
              COMPRAS
            </li>
            <li class="breadcrumb-item active fs-5" aria-current="page">
              PROVEEDORES
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-7 col-xl-5 offset-xl-2 d-flex">
        <!-- SEARCH FIELD -->
        <div style="width: 80%;" class="pe-xl-2">
          <input
            type="text"
            id="searchInput"
            class="form-control"
            placeholder="Buscar por DNI, RUC, Nombre o Empresa"
            [formControl]="searchControl"
          >
        </div>
        <!-- BUTTON -->
        <div style="width: 20%" class="text-end">
          <app-suppliers-export [filteredData]="filteredSuppliers$.value"/>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------------------->
  <!------------------ FORM & LIST --------------------->
  <div class="row">
    <div class="col-4">

      @if (editSupplier) {
        <app-suppliers-edit [supplier]="editSupplier" (editCancel)="getCancel($event)"/>

      } @else {
        <app-suppliers-new/>
      }

    </div>
    <div class="col-8">
      <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
        <div class="table-responsive mb-1">
          <table class="table table-bordered text-center">
            <thead>
            <tr class="text-nowrap">
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">EMPRESA</th>
              <th scope="col">RUC</th>
              <th scope="col">REPRESENTANTE</th>
              <th scope="col">DNI</th>
              <th scope="col">TELÉFONO</th>
              <th scope="col">CORREO ELECTRÓNICO</th>
              <th scope="col">DIRECCIÓN</th>
              <th scope="col">USUARIO REGISTRO</th>
              <th scope="col">FECHA REGISTRO</th>
              <th scope="col">USUARIO ACTUALIZACIÓN</th>
              <th scope="col">FECHA ACTUALIZACIÓN</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-nowrap"
                *ngFor="let supplier of (filteredSuppliers$ | async)| slice:(page - 1) * pageSize: page * pageSize; let i = index">
              <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
              <!-- BUTTON EDIT -->
              <td>
                <button type="button" class="btn btn-primary btn-sm" (click)="getEditSupplier(supplier)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
              <!-- BUTTON DELETE & MODAL DELETE -->
              <td>
                <button type="button" class="btn btn-danger btn-sm"
                        (click)="openDeleteModal(deleteModal,supplier.id)">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
                <ng-template #deleteModal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Confirmación de Eliminación</h4>
                    <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
                  </div>
                  <div class="modal-body">
                    <p>¿Estás seguro que deseas eliminar al proveedor <strong>{{ supplier.company }}</strong>?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Sí, eliminar
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
                  </div>
                </ng-template>
              </td>

              <!-- COMPANY NAME-->
              <td class="text-uppercase">{{ supplier.company }}</td>

              <!-- COMPANY RUC -->
              <td>{{ supplier.ruc }}</td>

              <!-- FULL NAME -->
              <td class="text-uppercase">{{ supplier.fullName }}</td>

              <!-- DNI -->
              <td>{{ supplier.dni }}</td>

              <!-- PHONE -->
              <td>{{ supplier.phone }}</td>

              <!-- EMAIL -->
              <td>{{ supplier.email }}</td>

              <!-- ADDRESS -->
              <td>{{ supplier.address }}</td>

              <!-- USER REGISTER -->
              <td>{{ supplier.created_by_name }}</td>

              <!-- DATE REGISTER -->
              <td>{{ supplier.createdAt.toMillis() | date:'mediumDate' }}</td>

              <!-- USER UPDATED -->
              <td>{{ supplier.updated_by_name }}</td>

              <!-- DATE UPDATED -->
              <td>{{ supplier.updatedAt.toMillis() | date:'mediumDate' }}</td>
            </tr>

            </tbody>
          </table>
        </div>
        <ngb-pagination
          [collectionSize]="(filteredSuppliers$ | async)?.length || 0"
          [(page)]="page"
          [pageSize]="pageSize"
          aria-label="Default pagination"
        />
      </div>
    </div>
  </div>
</div>
