<app-products-navbar></app-products-navbar>

<div class="container-fluid container-xxl mt-2">

  <!-- TITLE, NAVS AND BUTTONS -->
  <div class="card shadow rounded border-light-subtle p-3 mb-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <i class="fa-solid fa-house fa-lg" style="cursor: pointer" [routerLink]="'/home'"></i>
        </li>
        <li class="breadcrumb-item fs-5" style="cursor: pointer" aria-current="page"
            [routerLink]="'/products'">
          PRODUCTOS
        </li>
        <li class="breadcrumb-item active fs-5" aria-current="page">
          CATEGORIAS
        </li>
      </ol>
    </nav>
  </div>

  <!-- FORM NEW & LIST -->
  <div class="row">

    <div class="col-4">
      @if (editCategory) {
        <app-products-category-edit
          [category]="editCategory"
          (editCancel)="getCancel($event)"
        ></app-products-category-edit>

      } @else {
        <app-products-category-new></app-products-category-new>
      }
    </div>
    <div class="col-8">
      <app-products-category-list
        (editCategory)="getEditCategory($event)"
      ></app-products-category-list>

    </div>
  </div>
</div>
