<app-warehouse-navbar></app-warehouse-navbar>

<div class="container-fluid container-xxl mt-2 mt-xxl-3">

  <!---------------------------------------------->
  <!------------------ HEADER -------------------->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
    <div class="row">
      <div class="col-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <i class="fa-solid fa-house fa-lg ms-2 mt-3" style="cursor: pointer" [routerLink]="'/home'"></i>
            </li>
            <li class="breadcrumb-item active fs-5" aria-current="page">
              ALMACEN
            </li>
          </ol>
        </nav>
      </div>
      <div class="col-8 d-flex">
        <!-- FILTER CATEGORIES -->
        <div style="width: 30%" class="text-end">
          <select
            id="categorySelect"
            class="form-select"
            [formControl]="categoryControl"
          >
            <option value="TODAS">CATEGORIAS</option>
            <option *ngFor="let category of listCategories$ | async" [value]="category.id">
              {{ category.name.toUpperCase() }}
            </option>
          </select>
        </div>
        <!-- SEARCH FIELD -->
        <div style="width: 52%" class="text-end">
          <input
            type="text"
            id="searchInput"
            class="form-control ms-2"
            placeholder="Buscar por nombre o código de barras."
            [formControl]="searchControl"
          >
        </div>
        <!-- BUTTON -->
        <div style="width: 18%" class="text-end">
          <app-inventory-export [filteredData]="filteredInventories$.value"/>
        </div>
      </div>
    </div>
  </div>

  <!---------------------------------------------->
  <!------------------- LIST --------------------->
  <div class="card shadow rounded border-light-subtle p-2 p-xxl-3 mb-2 mb-xxl-3">
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
        <tr class="text-nowrap">
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">PRODUCTO</th>
          <th scope="col">STOCK</th>
          <th scope="col">PRECIO VENTA</th>
          <th scope="col">PRECIO COSTO</th>
          <th scope="col">ULTIMA ACTUALIZACIÓN</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-nowrap"
            *ngFor="let inventory of filteredInventories$ | async | slice:(page - 1) * pageSize: page * pageSize; let i = index">
          <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
          <!-- BUTTON EDIT -->
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="openEditModal(inventory,editModal)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <ng-template #editModal let-modal>
              <div class="modal-header">
                <h5 class="modal-title">Actualizar Inventario</h5>
                <button type="button" class="btn-close" aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editForm">

                  <!-- PRICE SALE -->
                  <div class="form-floating mb-3">
                    <input
                      type="number"
                      id="priceSale"
                      class="form-control"
                      formControlName="price_sale"
                      placeholder="Precio de Venta"
                      min="0"
                    />
                    <label for="priceSale">Nuevo precio de Venta</label>
                  </div>

                  <!-- PRICE COST -->
                  <div class="form-floating mb-3">
                    <input
                      type="number"
                      id="priceCost"
                      class="form-control"
                      formControlName="price_cost"
                      placeholder="Precio de Costo"
                      min="0"
                    />
                    <label for="priceSale">Nuevo precio de Costo</label>
                  </div>

                  <!-- STOCK -->
                  <div class="form-floating">
                    <input
                      type="number"
                      id="stock"
                      class="form-control"
                      formControlName="stock"
                      placeholder="Stock"
                      min="0"
                    />
                    <label for="priceSale">Nuevo stock</label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel')">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="updateInventory(modal)">Actualizar</button>
              </div>
            </ng-template>
          </td>

          <!-- PRODUCT -->
          <td>
            <div class="d-inline-flex">
              <img class="me-3" src="{{inventory.product_image}}" style="height: 30px" alt="">
              <p>{{ inventory.product_name }} -- {{ inventory.product_description }}</p>
            </div>
          </td>

          <!-- STOCK -->
          <td>{{ inventory.stock | number }}</td>

          <!-- PRICE SALE -->
          <td>{{ inventory.price_sale | currency:'S/.' }}</td>

          <!-- PRICE COST -->
          <td>{{ inventory.price_cost | currency:'S/.' }}</td>

          <!-- DATE UPDATED -->
          <td>{{ inventory.updatedAt?.toMillis() | date:'mediumDate' }}</td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination
        [collectionSize]="(filteredInventories$ | async)?.length || 0"
        [(page)]="page"
        [pageSize]="pageSize"
        aria-label="Default pagination"
      ></ngb-pagination>
    </div>
  </div>
</div>
