<div class="card shadow rounded border-0 p-3">

  <p class="fw-bold">NUEVO MOVIMIENTO DE ALMACEN</p>

  <!-- NEW FORM -->
  <form [formGroup]="newForm" (ngSubmit)="onSubmit()">

    <!-- MOVEMENT TYPE -->
    <div class="form-floating mb-3">
      <select class="form-select" id="typeSelect" formControlName="type">
        <option value="INGRESO" selected>INGRESO</option>
        <option value="SALIDA">SALIDA</option>
      </select>
      <label for="typeSelect"><span class="fw-bold">TIPO DE MOVIMIENTO</span></label>
    </div>

    <!-- PRODUCT -->
    <div class="form-floating mb-3">
      <app-warehouse-products-picker  (selectedProduct)="getSelectedProduct($event)"></app-warehouse-products-picker>
    </div>

    <!-- STOCK -->
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="quantityInput" formControlName="quantity" required>
      <label for="quantityInput"><span class="fw-bold">CANTIDAD: </span></label>
    </div>

    <!-- PRICE -->
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="priceInput" formControlName="price" required>
      <label for="priceInput"><span class="fw-bold">PRECIO DE INGRESO/SALIDA: </span></label>
    </div>

    <!-- BUTTON -->
    <div class="mb-3">
      <button type="submit" class="btn btn-primary w-100" [disabled]="newForm.invalid">
        Registrar
      </button>
    </div>

  </form>
</div>
