<div class="form-floating mb-3">
  <input
    type="text"
    class="form-control"
    id="floatingInput"
    placeholder="Buscar producto por nombre o escanee el código de barras"
    [formControl]="searchControl"
    (focus)="onFocus()"
    (blur)="onBlur()"
    autocomplete="off"
  />
  <label for="floatingInput">Buscar producto</label>
</div>

<ul *ngIf="showResults && (filteredProducts$ | async) as products; else noResults" class="list-group">
  <li *ngFor="let product of products" class="list-group-item d-flex align-items-center">
    <div class="flex-grow-1">
      <strong>{{ product.name }}</strong> -
      <span class="text-muted">{{ product.description }}</span>
    </div>
    <button
      class="btn btn-primary btn-sm ms-2"
      (click)="pickProduct(product)"
    >
      Add
    </button>


    <!--<img
      [src]="product.imageUrl"
      alt="{{ product.name }}"
      class="me-2"
      style="width: 30px; object-fit: cover; border-radius: 5px;"
    />
    <div>
      <strong>{{ product.name }}</strong>
      <p class="mb-0 text-muted">{{ product.description }}</p>
    </div>
    <button type="button" class="btn btn-primary btn-sm">
      <i class="fa-solid fa-plus"></i>
    </button>-->
  </li>
</ul>

<ng-template #noResults>
  <p *ngIf="searchControl.value.trim().length > 0">No se encontraron resultados.</p>
</ng-template>
