.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.list-group-item strong {
  font-size: 14px;
}

.list-group-item .btn {
  margin-left: auto; /* Asegura que el botón esté al final */
}

.list-group {
  max-height: 200px; /* Limita la altura de la lista */
  overflow-y: auto; /* Habilita el scroll si hay demasiados resultados */
}
