/** IPAD MINI **/
@media screen and (min-width: 1024px) and (orientation: landscape) {
  #list-products {
    height: 600px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** IPAD AIR **/
@media screen and (min-width: 1180px) and (orientation: landscape) {
  #list-products {
    height: 640px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 720p **/
@media screen and (min-width: 1280px) and (max-width: 1920px) and (orientation: landscape) {
  #list-products {
    height: 580px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 1080p **/
@media screen and (min-width: 1920px) and (orientation: landscape) {
  #list-products {
    height: 700px;
    overflow: auto;
    overflow-y: scroll;
  }
}

.product-item {
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}

.product-item img {
  object-fit: contain;
  height: 80px;
  width: 80%;
  margin-bottom: 10px;
}

.product-item p {
  margin: 0;
}
