/** IPAD MINI **/
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .list-products {
    height: 600px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** IPAD AIR **/
@media screen and (min-width: 1180px) and (orientation: landscape) {
  .list-products {
    height: 640px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 720p **/
@media screen and (min-width: 1280px) and (max-width: 1920px) and (orientation: landscape) {
  .list-products {
    height: 580px;
    overflow: auto;
    overflow-y: scroll;
  }
}

/** 1080p **/
@media screen and (min-width: 1920px) and (orientation: landscape) {
  .list-products {
    height: 750px;
    overflow: auto;
    overflow-y: scroll;
  }
}

.card {
  height: 100%; /* Asegura que las cards tengan la misma altura */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

.card img {
  object-fit: contain; /* Asegura que las imágenes mantengan sus proporciones */
  height: 80px;
  width: 80%;
  margin-bottom: 10px;
}

.card p {
  margin: 0;
}
