<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid container-xxl">
    <span class="navbar-brand" style="cursor: pointer" [routerLink]="'/home'">SISTEMA DE VENTAS</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item" display="dynamic">
          <a class="nav-link" tabindex="0" role="button" (click)="getModule('warehouse/inventory')">
            INVENTARIO
          </a>
        </li>

        <li class="nav-item" display="dynamic">
          <a class="nav-link" tabindex="0" role="button" (click)="getModule('warehouse/movements')">
            MOVIMIENTOS
          </a>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
            {{ displayName }}
            <i class="fa-solid fa-circle-user ms-3 fa-xl"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
            <a ngbDropdownItem href="#">Configuración</a>
            <a ngbDropdownItem href="#" (click)="logout()">Cerrar sesión</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
